:root {
  --h1: 72px;
  --h2: 48px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --h7: 16px;
  --h8: 14px;
  --h9: 12px;
  --h10: 10px;
  --h11: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  /* 取消底線 */
  color: inherit;
  /* 使用父元素的文字顏色 */
}

